body {
  background-color: #2d2d2d;
}

.pick, .bold {
  font-weight: bold;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
}

/* @media (max-width: 767px) { */
@media (max-width: 320px) {
  .hidden-5 {
    display: none !important;
  }
}
@media (min-width: 321px) and (max-width: 415px) {
  .hidden-6 {
    display: none !important;
  }
}
/* @media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
} */
